@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --card-color: #EFEFEF;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

@utility flexBetween {
  @apply flex items-center justify-between;
}
@utility flexCenter {
  @apply flex items-center justify-center;
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility padding-container {
  @apply px-6 lg:px-20 2xl:px-0;
}

@layer utilities {
  .bg-contact {
    background-image: url('/contactBG.svg');
    background-size: cover;
    background-position: center;
  }
  .card{
    @apply rounded-t-2xl  bg-[#EFEFEF] px-6 py-4
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-[#E9038A] to-[#0A6195] ;
  }
  .bg-gradient-multiColor{
    @apply bg-gradient-to-r from-[#9B248E]/90 via-[#4A4792]/90 to-[#2D5393]/90

  }
  .text-gradient {
    @apply bg-linear-to-br from-[#E9038A] to-[#0A6195];
  }
  .text-black-gradient {
    @apply bg-gradient-to-r from-[#000000] to-[#FFFFFF] opacity-20;
  }
  /* FONTS */
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }
  .regular-20 {
    @apply text-[20px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .regular-32 {
    @apply text-[32px] font-[400];
  }
  .regular-40 {
    @apply text-[40px] font-[400];
  }
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  .bold-16 {
    @apply text-[16px] font-[700];
  }
  .bold-18 {
    @apply text-[18px] font-[700];
  }
  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }
  .bold-24 {
    @apply text-[24px] font-[700];
  }
  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }
  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }
  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }
}


